/* Square component styling */

.buttonSquare {
  background: lightblue;
  border: 2px solid darkblue;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  outline: none;
}

/* Board component styling */
.board {
  border: 4px solid darkblue;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: grid;
  /* for creating 3 by 3 board */
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
